In [ ]:
import os
import sys

# 自动检测环境
IS_KAGGLE = 'KAGGLE_KERNEL_RUN_TYPE' in os.environ
competition_name = 'titanic/'

if IS_KAGGLE:
    print("Running on Kaggle")
    DATA_PATH = '/kaggle/input/' + competition_name
    OUTPUT_PATH = '/kaggle/working'
    # 可能需要安装包
else:
    print("Running locally")
    DATA_PATH = './data'
    OUTPUT_PATH = './output'

Running locally

In [14]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
# Add src directory to Python path and import model
if IS_KAGGLE:
    !git clone https://github.com/catathome0410/Titanic_practice.git
    import sys
    sys.path.append('/kaggle/working/Titanic_practice/src')
    
    from model import simple_logr_scaler, log_R_solver, NN_solver
else:
    sys.path.append('./src')
    from model import simple_logr_scaler, log_R_solver, NN_solver

In [16]:
train = pd.read_csv(DATA_PATH + '/train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
df_train = train.copy()
df_train['Embarked'] = df_train['Embarked'].fillna('S')
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_train = df_train.drop(['Name', 'Ticket'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,30.0000,B42,S
888,889,0,3,female,28.0,1,2,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,30.0000,C148,C
890,891,0,3,male,32.0,0,0,7.7500,NaN,Q

In [18]:
df_train['cabin_info_null'] = df_train['Cabin'].isna()
df_train['cabin_info_null'] = df_train['cabin_info_null'].astype('int32')
df_train = df_train.drop(['Cabin'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null
0,1,0,3,male,22.0,1,0,7.2500,S,1
1,2,1,1,female,38.0,1,0,71.2833,C,0
2,3,1,3,female,26.0,0,0,7.9250,S,1
3,4,1,1,female,35.0,1,0,53.1000,S,0
4,5,0,3,male,35.0,0,0,8.0500,S,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S,1
887,888,1,1,female,19.0,0,0,30.0000,S,0
888,889,0,3,female,28.0,1,2,23.4500,S,1
889,890,1,1,male,26.0,0,0,30.0000,C,0
890,891,0,3,male,32.0,0,0,7.7500,Q,1

In [19]:
df_train_d = pd.get_dummies(df_train, columns=['Sex', 'Embarked'], dtype='int32')
df_train_d = df_train_d.drop('Sex_female', axis=1)
df_train_d

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,cabin_info_null,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,1,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,1,1,0,0,1
887,888,1,1,19.0,0,0,30.0000,0,0,0,0,1
888,889,0,3,28.0,1,2,23.4500,1,0,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,1,1,0,0
890,891,0,3,32.0,0,0,7.7500,1,1,0,1,0

In [20]:
X_train = np.array(df_train_d.drop(['Survived', 'PassengerId'], axis = 1))
Y_train = np.array(df_train_d['Survived'])

In [21]:
slr = simple_logr_scaler(X_train)
Xs = slr.fit()
Xs.shape
# Xs

(891, 10)

In [22]:
Xs_train = Xs[:800, :]
Xs_test = Xs[800:, :]
Ys_train = Y_train[:800]
Ys_test = Y_train[800:]

In [23]:
lrsr = log_R_solver(Xs_train, Ys_train, alpha = 0.03, lambda2=0.1)
lrsr.fit_L2()

iteration No.1000, likely_hood = -360.8336490931742, likely_hood_ratio = 0.00021968500917714885, norm(theta) = 1.58563816, norm(grad) = 0.00041959, grad/theta ratio = 0.000265
iteration No.2000, likely_hood = -357.6638757893522, likely_hood_ratio = 0.00024579365758455, norm(theta) = 1.75837629, norm(grad) = 0.00029171, grad/theta ratio = 0.000166
iteration No.3000, likely_hood = -355.9508242466997, likely_hood_ratio = 0.00026622998809618873, norm(theta) = 1.89542395, norm(grad) = 0.00022309, grad/theta ratio = 0.000118
iteration No.4000, likely_hood = -354.92219971075406, likely_hood_ratio = 0.0002837927040317022, norm(theta) = 2.01459677, norm(grad) = 0.00017710, grad/theta ratio = 0.000088
iteration No.5000, likely_hood = -354.26298341642223, likely_hood_ratio = 0.000298674988119332, norm(theta) = 2.11628348, norm(grad) = 0.00014464, grad/theta ratio = 0.000068
iteration No.6000, likely_hood = -353.81910157356685, likely_hood_ratio = 0.0003112681627242122, norm(theta) = 2.20273215, norm(grad) = 0.00012070, grad/theta ratio = 0.000055
iteration No.7000, likely_hood = -353.50897967549787, likely_hood_ratio = 0.0003219789609390312, norm(theta) = 2.27651733, norm(grad) = 0.00010236, grad/theta ratio = 0.000045
iteration No.8000, likely_hood = -353.28630684517606, likely_hood_ratio = 0.00033115309863164847, norm(theta) = 2.33989593, norm(grad) = 0.00008788, grad/theta ratio = 0.000038
iteration No.9000, likely_hood = -353.12313194783167, likely_hood_ratio = 0.00033906707337687237, norm(theta) = 2.39469957, norm(grad) = 0.00007616, grad/theta ratio = 0.000032
iteration No.10000, likely_hood = -353.0016889430051, likely_hood_ratio = 0.00034593855763926046, norm(theta) = 2.44238243, norm(grad) = 0.00006650, grad/theta ratio = 0.000027
iteration No.11000, likely_hood = -352.91020100481217, likely_hood_ratio = 0.00035193920927880707, norm(theta) = 2.48409780, norm(grad) = 0.00005844, grad/theta ratio = 0.000024
iteration No.12000, likely_hood = -352.84059902468493, likely_hood_ratio = 0.00035720561164759084, norm(theta) = 2.52076725, norm(grad) = 0.00005163, grad/theta ratio = 0.000020
iteration No.13000, likely_hood = -352.7872110313915, likely_hood_ratio = 0.0003618477035697744, norm(theta) = 2.55313527, norm(grad) = 0.00004583, grad/theta ratio = 0.000018
iteration No.14000, likely_hood = -352.745970503728, likely_hood_ratio = 0.00036595504556820476, norm(theta) = 2.58181036, norm(grad) = 0.00004087, grad/theta ratio = 0.000016
iteration No.15000, likely_hood = -352.7139166008398, likely_hood_ratio = 0.0003696014324182071, norm(theta) = 2.60729541, norm(grad) = 0.00003659, grad/theta ratio = 0.000014
iteration No.16000, likely_hood = -352.68886678796895, likely_hood_ratio = 0.0003728482975514645, norm(theta) = 2.63001032, norm(grad) = 0.00003288, grad/theta ratio = 0.000013
iteration No.17000, likely_hood = -352.6691958459535, likely_hood_ratio = 0.0003757472488716641, norm(theta) = 2.65030880, norm(grad) = 0.00002966, grad/theta ratio = 0.000011
iteration No.18000, likely_hood = -352.6536830781377, likely_hood_ratio = 0.00037834198144818496, norm(theta) = 2.66849108, norm(grad) = 0.00002684, grad/theta ratio = 0.000010
iteration No.19000, likely_hood = -352.64140464974554, likely_hood_ratio = 0.0003806697407491918, norm(theta) = 2.68481371, norm(grad) = 0.00002437, grad/theta ratio = 0.000009
iteration No.20000, likely_hood = -352.6316565802289, likely_hood_ratio = 0.0003827624584611245, norm(theta) = 2.69949713, norm(grad) = 0.00002219, grad/theta ratio = 0.000008
iteration No.21000, likely_hood = -352.6238989923388, likely_hood_ratio = 0.0003846476467975711, norm(theta) = 2.71273163, norm(grad) = 0.00002026, grad/theta ratio = 0.000007
iteration No.22000, likely_hood = -352.6177153493221, likely_hood_ratio = 0.00038634911215139247, norm(theta) = 2.72468218, norm(grad) = 0.00001855, grad/theta ratio = 0.000007
iteration No.23000, likely_hood = -352.6127824025997, likely_hood_ratio = 0.0003878875316160855, norm(theta) = 2.73549232, norm(grad) = 0.00001702, grad/theta ratio = 0.000006
iteration No.24000, likely_hood = -352.60884787691975, likely_hood_ratio = 0.0003892809238767942, norm(theta) = 2.74528729, norm(grad) = 0.00001565, grad/theta ratio = 0.000006
iteration No.25000, likely_hood = -352.6057137958765, likely_hood_ratio = 0.0003905450375703959, norm(theta) = 2.75417670, norm(grad) = 0.00001442, grad/theta ratio = 0.000005
iteration No.26000, likely_hood = -352.60322395054726, likely_hood_ratio = 0.0003916936742928031, norm(theta) = 2.76225675, norm(grad) = 0.00001331, grad/theta ratio = 0.000005
iteration No.27000, likely_hood = -352.6012544315674, likely_hood_ratio = 0.00039273895921345807, norm(theta) = 2.76961201, norm(grad) = 0.00001231, grad/theta ratio = 0.000004
iteration No.28000, likely_hood = -352.59970643955944, likely_hood_ratio = 0.0003936915692160969, norm(theta) = 2.77631704, norm(grad) = 0.00001139, grad/theta ratio = 0.000004
iteration No.29000, likely_hood = -352.59850079895284, likely_hood_ratio = 0.00039456092626421964, norm(theta) = 2.78243767, norm(grad) = 0.00001056, grad/theta ratio = 0.000004

True

In [24]:
Yr = lrsr.transfrom(Xs_train)

In [25]:
np.sum(Ys_train == Yr) / Ys_train.shape[0]

0.79875

In [26]:
Yrtst = lrsr.transfrom(Xs_test)
np.sum(Ys_test == Yrtst) / Ys_test.shape[0]

0.8131868131868132

In [27]:
df_test = pd.read_csv(DATA_PATH + '/test.csv')
df_test['Embarked'] = df_train['Embarked'].fillna('S')
df_test['Age'] = df_test['Age'].fillna(df_train['Age'].median())
df_test = df_test.drop(['Name', 'Ticket'], axis = 1)
df_test['cabin_info_null'] = df_test['Cabin'].isna()
df_test['cabin_info_null'] = df_test['cabin_info_null'].astype('int32')
df_test = df_test.drop(['Cabin'], axis = 1)
df_test_d = pd.get_dummies(df_test, columns=['Sex', 'Embarked'], dtype='int32')
df_test_d = df_test_d.drop('Sex_female', axis=1)
X_test = np.array(df_test_d.drop(['PassengerId'], axis = 1))
Xtsts = slr.transform(X_test)
Yres = lrsr.transfrom(Xtsts)
df_test['Survived'] = Yres
df_test

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null,Survived
0,892,3,male,34.5,0,0,7.8292,S,1,0
1,893,3,female,47.0,1,0,7.0000,C,1,0
2,894,2,male,62.0,0,0,9.6875,S,1,0
3,895,3,male,27.0,0,0,8.6625,S,1,0
4,896,3,female,22.0,1,1,12.2875,S,1,1
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,male,28.0,0,0,8.0500,S,1,0
414,1306,1,female,39.0,0,0,108.9000,S,0,1
415,1307,3,male,38.5,0,0,7.2500,S,1,0
416,1308,3,male,28.0,0,0,8.0500,S,1,0
417,1309,3,male,28.0,1,1,22.3583,S,1,0

In [28]:
if IS_KAGGLE == False:
    os.makedirs('output', exist_ok=True)

In [29]:
df_res = df_test[['PassengerId', 'Survived']]
df_res.to_csv(OUTPUT_PATH + '/v4_l2_reg.csv', index=False, encoding='utf-8')

In [31]:
nslr = NN_solver(Xs_train, Ys_train, alpha=0.02, n_seed = 200, output_gap = 50)
# nslr.fit_batch_vectorized()
# nslr.fit_batch()
# nslr.fit_batch_adjust_lr(2000)
nslr.fit_shallow_parallel(shallow_iter_limit = 2000, target_loss = 320)

epoch No.1, min loss = 407.615386, from seed No.171
epoch No.51, min loss = 336.070187, from seed No.98
epoch No.101, min loss = 326.862455, from seed No.128
epoch No.151, min loss = 323.581717, from seed No.55
epoch No.201, min loss = 321.388746, from seed No.55
epoch No.251, min loss = 319.227592, from seed No.141
epoch No.301, min loss = 317.613404, from seed No.141
epoch No.351, min loss = 316.647087, from seed No.141
epoch No.401, min loss = 315.441165, from seed No.141
epoch No.451, min loss = 313.507447, from seed No.183
epoch No.501, min loss = 314.156846, from seed No.186
epoch No.551, min loss = 311.418647, from seed No.183
epoch No.601, min loss = 310.356167, from seed No.183
epoch No.651, min loss = 309.802670, from seed No.183
epoch No.701, min loss = 309.851194, from seed No.183
epoch No.751, min loss = 308.659270, from seed No.183
epoch No.801, min loss = 308.359997, from seed No.183
epoch No.851, min loss = 308.334818, from seed No.183
epoch No.901, min loss = 308.205398, from seed No.183
epoch No.951, min loss = 307.788142, from seed No.183
epoch No.1001, min loss = 307.643346, from seed No.183
epoch No.1051, min loss = 307.353047, from seed No.183
epoch No.1101, min loss = 307.046882, from seed No.183
epoch No.1151, min loss = 306.937197, from seed No.183
epoch No.1201, min loss = 306.984769, from seed No.183
epoch No.1251, min loss = 307.105190, from seed No.183
epoch No.1301, min loss = 307.333003, from seed No.183
epoch No.1351, min loss = 306.657613, from seed No.183
epoch No.1401, min loss = 306.651956, from seed No.183
epoch No.1451, min loss = 306.636434, from seed No.183
epoch No.1501, min loss = 306.528591, from seed No.183
epoch No.1551, min loss = 306.530329, from seed No.183
epoch No.1601, min loss = 306.495770, from seed No.183
epoch No.1651, min loss = 306.472359, from seed No.183
epoch No.1701, min loss = 306.454305, from seed No.183
epoch No.1751, min loss = 306.448045, from seed No.183
epoch No.1801, min loss = 306.441418, from seed No.183
epoch No.1851, min loss = 306.436326, from seed No.183
epoch No.1901, min loss = 306.432142, from seed No.183
epoch No.1951, min loss = 306.430857, from seed No.183
epoch No.2001, min loss = 306.429205, from seed No.183
epoch No.2051, min loss = 306.428370, from seed No.183
epoch No.2101, min loss = 306.427527, from seed No.183
epoch No.2151, min loss = 306.432006, from seed No.183
epoch No.2201, min loss = 306.422648, from seed No.183
epoch No.2251, min loss = 306.418659, from seed No.183
epoch No.2301, min loss = 306.415154, from seed No.183
epoch No.2351, min loss = 306.437144, from seed No.183
epoch No.2401, min loss = 306.411275, from seed No.183
epoch No.2451, min loss = 306.397366, from seed No.183
epoch No.2501, min loss = 306.415157, from seed No.183
epoch No.2551, min loss = 306.391358, from seed No.183
epoch No.2601, min loss = 306.389078, from seed No.183
epoch No.2651, min loss = 306.447434, from seed No.183
epoch No.2701, min loss = 306.421958, from seed No.183
epoch No.2751, min loss = 306.572523, from seed No.183
epoch No.2801, min loss = 306.303903, from seed No.183
epoch No.2851, min loss = 306.416618, from seed No.183
epoch No.2901, min loss = 306.308049, from seed No.183
epoch No.2951, min loss = 306.909313, from seed No.183
epoch No.3001, min loss = 306.944159, from seed No.183
epoch No.3051, min loss = 306.669008, from seed No.183
epoch No.3101, min loss = 306.879037, from seed No.183
epoch No.3151, min loss = 307.024426, from seed No.183
epoch No.3201, min loss = 306.458841, from seed No.183
epoch No.3251, min loss = 308.469108, from seed No.55
epoch No.3301, min loss = 307.042817, from seed No.183
epoch No.3351, min loss = 307.418066, from seed No.183
epoch No.3401, min loss = 306.624648, from seed No.183
epoch No.3451, min loss = 307.725038, from seed No.57
epoch No.3501, min loss = 306.315984, from seed No.55
epoch No.3551, min loss = 306.466710, from seed No.183
epoch No.3601, min loss = 306.437860, from seed No.55
epoch No.3651, min loss = 306.372987, from seed No.55
epoch No.3701, min loss = 305.995748, from seed No.55
epoch No.3751, min loss = 306.517507, from seed No.55
epoch No.3801, min loss = 306.701336, from seed No.55
epoch No.3851, min loss = 305.617752, from seed No.55
epoch No.3901, min loss = 306.509499, from seed No.183
epoch No.3951, min loss = 305.159644, from seed No.55
epoch No.4001, min loss = 305.280491, from seed No.55

True

In [32]:
print(nslr.loss_arr.min())
print(nslr.loss_arr.argmin())
n_min_seed = nslr.loss_arr.argmin()
nslr.fit_deep(10000, lr_raito = 0.1, use_input = True, W1_i=nslr.W1[:, :, n_min_seed], b1_i=nslr.b1[:, :, n_min_seed], W2_i=nslr.W2[:, :, n_min_seed], b2_i=nslr.b2[:, :, n_min_seed], W3_i=nslr.W3[:, :, n_min_seed], b3_i=nslr.b3[:, :, n_min_seed])

305.28049114169966
55
epoch No.1, loss = 305.121427
epoch No.51, loss = 305.092449
epoch No.101, loss = 304.994794
epoch No.151, loss = 305.191067
epoch No.201, loss = 305.153826
epoch No.251, loss = 305.201642
epoch No.301, loss = 305.024590
epoch No.351, loss = 304.965818
epoch No.401, loss = 305.033288
epoch No.451, loss = 305.085445
epoch No.501, loss = 305.104138
epoch No.551, loss = 305.152981
epoch No.601, loss = 305.225214
epoch No.651, loss = 305.509694
epoch No.701, loss = 305.540691
epoch No.751, loss = 305.401131
epoch No.801, loss = 305.375521
epoch No.851, loss = 305.249573
epoch No.901, loss = 305.329845
epoch No.951, loss = 305.344623
epoch No.1001, loss = 305.302221
epoch No.1051, loss = 305.279619
epoch No.1101, loss = 305.385355
epoch No.1151, loss = 305.450276
epoch No.1201, loss = 305.257255
epoch No.1251, loss = 305.387150
epoch No.1301, loss = 305.384980
epoch No.1351, loss = 305.450505
epoch No.1401, loss = 305.306337
epoch No.1451, loss = 305.538254
epoch No.1501, loss = 305.558278
epoch No.1551, loss = 305.698226
epoch No.1601, loss = 305.953610
epoch No.1651, loss = 305.683279
epoch No.1701, loss = 305.513602
epoch No.1751, loss = 305.454407
epoch No.1801, loss = 305.644719
epoch No.1851, loss = 305.305067
epoch No.1901, loss = 305.478514
epoch No.1951, loss = 305.665339
epoch No.2001, loss = 305.789162
epoch No.2051, loss = 305.965286
epoch No.2101, loss = 305.909260
epoch No.2151, loss = 305.646002
epoch No.2201, loss = 306.028691
epoch No.2251, loss = 306.700847
epoch No.2301, loss = 305.874846
epoch No.2351, loss = 305.704732
epoch No.2401, loss = 305.860866
epoch No.2451, loss = 305.843975
epoch No.2501, loss = 305.625302
epoch No.2551, loss = 305.636703
epoch No.2601, loss = 305.741909
epoch No.2651, loss = 305.676154
epoch No.2701, loss = 305.873276
epoch No.2751, loss = 305.852294
epoch No.2801, loss = 305.542194
epoch No.2851, loss = 305.690994
epoch No.2901, loss = 305.814307
epoch No.2951, loss = 306.083477
epoch No.3001, loss = 306.082058
epoch No.3051, loss = 306.238394
epoch No.3101, loss = 306.083128
epoch No.3151, loss = 306.425318
epoch No.3201, loss = 306.137717
epoch No.3251, loss = 306.203906
epoch No.3301, loss = 306.040493
epoch No.3351, loss = 306.551692
epoch No.3401, loss = 306.527220
epoch No.3451, loss = 306.822897
epoch No.3501, loss = 306.542227
epoch No.3551, loss = 306.362023
epoch No.3601, loss = 306.430456
epoch No.3651, loss = 306.404693
epoch No.3701, loss = 306.373183
epoch No.3751, loss = 306.611445
epoch No.3801, loss = 306.797538
epoch No.3851, loss = 306.789897
epoch No.3901, loss = 307.010873
epoch No.3951, loss = 306.880246
epoch No.4001, loss = 306.604413
epoch No.4051, loss = 306.670315
epoch No.4101, loss = 306.729655
epoch No.4151, loss = 306.867093
epoch No.4201, loss = 306.674833
epoch No.4251, loss = 306.606006
epoch No.4301, loss = 306.547455
epoch No.4351, loss = 306.351546
epoch No.4401, loss = 306.444962
epoch No.4451, loss = 306.578392
epoch No.4501, loss = 306.354206
epoch No.4551, loss = 306.392691
epoch No.4601, loss = 306.642877
epoch No.4651, loss = 306.762427
epoch No.4701, loss = 307.016916
epoch No.4751, loss = 306.722634
epoch No.4801, loss = 306.589588
epoch No.4851, loss = 306.461778
epoch No.4901, loss = 306.515548
epoch No.4951, loss = 306.424638
epoch No.5001, loss = 306.733620
epoch No.5051, loss = 306.623847
converged

True

In [33]:
nslr.check_performance(Xs_train, Ys_train)

0.83875

In [34]:
nslr.check_performance(Xs_test, Ys_test)

0.8461538461538461

In [35]:
Y_res_nn = nslr.predict(Xtsts)
df_test['Survived'] = Y_res_nn
df_res = df_test[['PassengerId', 'Survived']]
df_res.to_csv('v7_nn.csv', index=False, encoding='utf-8')

In [36]:
df_test = pd.read_csv(DATA_PATH + '/test.csv')
df_test['Embarked'] = df_train['Embarked'].fillna('S')
df_test['Age'] = df_test['Age'].fillna(df_train['Age'].median())
df_test = df_test.drop(['Name', 'Ticket'], axis = 1)
df_test['cabin_info_null'] = df_test['Cabin'].isna()
df_test['cabin_info_null'] = df_test['cabin_info_null'].astype('int32')
df_test = df_test.drop(['Cabin'], axis = 1)
df_test_d = pd.get_dummies(df_test, columns=['Sex', 'Embarked'], dtype='int32')
df_test_d = df_test_d.drop('Sex_female', axis=1)
X_test = np.array(df_test_d.drop(['PassengerId'], axis = 1))
Xtsts = slr.transform(X_test)
Yres = lrsr.transfrom(Xtsts)
df_test['Survived'] = Yres
df_test

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null,Survived
0,892,3,male,34.5,0,0,7.8292,S,1,0
1,893,3,female,47.0,1,0,7.0000,C,1,0
2,894,2,male,62.0,0,0,9.6875,S,1,0
3,895,3,male,27.0,0,0,8.6625,S,1,0
4,896,3,female,22.0,1,1,12.2875,S,1,1
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,male,28.0,0,0,8.0500,S,1,0
414,1306,1,female,39.0,0,0,108.9000,S,0,1
415,1307,3,male,38.5,0,0,7.2500,S,1,0
416,1308,3,male,28.0,0,0,8.0500,S,1,0
417,1309,3,male,28.0,1,1,22.3583,S,1,0

In [38]:
df_res = df_test[['PassengerId', 'Survived']]
df_res.to_csv(OUTPUT_PATH + '/v8_l2_reg.csv', index=False, encoding='utf-8')

In [ ]:
    # 就 NN的效果来说已经很好了，接下来要提升titanic 的数据效果是ML hyper parametr tuning 和feature engineering 方面的工作
    ## NN variance tuning, 剪枝，regularization, early stopping 这些
## K-fold training, 
## Roc curve, precision / recall 
    ## 把Titanic 剩下的几个feature 挖出点东西来. Name / Cabin / 
    ## Bias / Variance curve