In [55]:
import os
import sys

# 自动检测环境
IS_KAGGLE = 'KAGGLE_KERNEL_RUN_TYPE' in os.environ
competition_name = 'titanic/'

if IS_KAGGLE:
    print("Running on Kaggle")
    DATA_PATH = '/kaggle/input/' + competition_name
    OUTPUT_PATH = '/kaggle/working'
    # 可能需要安装包
else:
    print("Running locally")
    DATA_PATH = './data'
    OUTPUT_PATH = './output'

Running locally

In [56]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [57]:
# Add src directory to Python path and import model
if IS_KAGGLE:
    !git clone https://github.com/catathome0410/Titanic_practice.git
    import sys
    sys.path.append('/kaggle/working/Titanic_practice/src')
    
    from model import simple_logr_scaler, log_R_solver, NN_solver
else:
    sys.path.append('./src')
    from model import simple_logr_scaler, log_R_solver, NN_solver

In [58]:
train = pd.read_csv(DATA_PATH + '/train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [59]:
df_train = train.copy()
df_train['Embarked'] = df_train['Embarked'].fillna('S')
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_train = df_train.drop(['Name', 'Ticket'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,30.0000,B42,S
888,889,0,3,female,28.0,1,2,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,30.0000,C148,C
890,891,0,3,male,32.0,0,0,7.7500,NaN,Q

In [60]:
df_train['cabin_info_null'] = df_train['Cabin'].isna()
df_train['cabin_info_null'] = df_train['cabin_info_null'].astype('int32')
df_train = df_train.drop(['Cabin'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null
0,1,0,3,male,22.0,1,0,7.2500,S,1
1,2,1,1,female,38.0,1,0,71.2833,C,0
2,3,1,3,female,26.0,0,0,7.9250,S,1
3,4,1,1,female,35.0,1,0,53.1000,S,0
4,5,0,3,male,35.0,0,0,8.0500,S,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S,1
887,888,1,1,female,19.0,0,0,30.0000,S,0
888,889,0,3,female,28.0,1,2,23.4500,S,1
889,890,1,1,male,26.0,0,0,30.0000,C,0
890,891,0,3,male,32.0,0,0,7.7500,Q,1

In [61]:
df_train_d = pd.get_dummies(df_train, columns=['Sex', 'Embarked'], dtype='int32')
df_train_d = df_train_d.drop('Sex_female', axis=1)
df_train_d

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,cabin_info_null,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,1,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,1,1,0,0,1
887,888,1,1,19.0,0,0,30.0000,0,0,0,0,1
888,889,0,3,28.0,1,2,23.4500,1,0,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,1,1,0,0
890,891,0,3,32.0,0,0,7.7500,1,1,0,1,0

In [62]:
X_train = np.array(df_train_d.drop(['Survived', 'PassengerId'], axis = 1))
Y_train = np.array(df_train_d['Survived'])

In [ ]:
n_pick_0 = np.floor(X_train.shape[0] / 16)
print(n_pick_0)
n_pick = 54 * 16

55.0

In [ ]:
slr = simple_logr_scaler(X_train)
X_transform = slr.fit()
Y_transform = Y_train

Xs = X_transform[:n_pick, :]
Ys = Y_transform[:n_pick]

In [68]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=3, shuffle=True, random_state=42)

In [69]:
model_accuracies = []

for train_idx, test_idx in kf.split(Xs):
    Xss_train, Xss_test = Xs[train_idx], Xs[test_idx]
    yss_train, yss_test = Ys[train_idx], Ys[test_idx]
    
    model = log_R_solver(Xss_train, yss_train, alpha = 0.02, lambda2=0.1)
    model.fit_L2()
    
    y_pred = model.transfrom(Xss_test)
    accuracy = np.sum(yss_test == y_pred) / yss_test.shape[0]
    model_accuracies.append(accuracy)

print(f"平均 MSE: {np.mean(model_accuracies):.4f}")
print(f"MSE 标准差: {np.std(model_accuracies):.4f}")

iteration No.1000, likely_hood = -11.877926073280008, likely_hood_ratio = 0.009141708911967568, norm(theta) = 2.17271465, norm(grad) = 0.00109696, grad/theta ratio = 0.000505
iteration No.2000, likely_hood = -10.888254943989603, likely_hood_ratio = 0.013672027714816272, norm(theta) = 2.97795328, norm(grad) = 0.00072637, grad/theta ratio = 0.000244
iteration No.3000, likely_hood = -10.425517699923933, likely_hood_ratio = 0.01712384417464683, norm(theta) = 3.57104059, norm(grad) = 0.00059954, grad/theta ratio = 0.000168
iteration No.4000, likely_hood = -10.131981757726376, likely_hood_ratio = 0.02015125611868661, norm(theta) = 4.08393427, norm(grad) = 0.00054197, grad/theta ratio = 0.000133
iteration No.5000, likely_hood = -9.919510888497223, likely_hood_ratio = 0.02299724884646721, norm(theta) = 4.56289949, norm(grad) = 0.00051427, grad/theta ratio = 0.000113
iteration No.6000, likely_hood = -9.754549033071672, likely_hood_ratio = 0.025778536655065666, norm(theta) = 5.02962511, norm(grad) = 0.00050280, grad/theta ratio = 0.000100
iteration No.7000, likely_hood = -9.621063987690757, likely_hood_ratio = 0.028561066813815966, norm(theta) = 5.49622635, norm(grad) = 0.00050152, grad/theta ratio = 0.000091
iteration No.8000, likely_hood = -9.51027526759074, likely_hood_ratio = 0.0313863637011453, norm(theta) = 5.97033892, norm(grad) = 0.00050732, grad/theta ratio = 0.000085
iteration No.9000, likely_hood = -9.416937771718725, likely_hood_ratio = 0.0342825381921338, norm(theta) = 6.45722522, norm(grad) = 0.00051839, grad/theta ratio = 0.000080
iteration No.10000, likely_hood = -9.337749648837278, likely_hood_ratio = 0.03726956910620725, norm(theta) = 6.96079110, norm(grad) = 0.00053363, grad/theta ratio = 0.000077
iteration No.11000, likely_hood = -9.270580350449336, likely_hood_ratio = 0.04036215277670975, norm(theta) = 7.48414576, norm(grad) = 0.00055235, grad/theta ratio = 0.000074
iteration No.12000, likely_hood = -9.214055809878625, likely_hood_ratio = 0.04357139249469894, norm(theta) = 8.02994267, norm(grad) = 0.00057410, grad/theta ratio = 0.000071
iteration No.13000, likely_hood = -9.167315871123915, likely_hood_ratio = 0.04690585232725066, norm(theta) = 8.60059914, norm(grad) = 0.00059864, grad/theta ratio = 0.000070
iteration No.14000, likely_hood = -9.129863729489959, likely_hood_ratio = 0.05037220807788283, norm(theta) = 9.19844010, norm(grad) = 0.00062583, grad/theta ratio = 0.000068
iteration No.15000, likely_hood = -9.101469398566074, likely_hood_ratio = 0.053975615859938014, norm(theta) = 9.82579120, norm(grad) = 0.00065562, grad/theta ratio = 0.000067
iteration No.16000, likely_hood = -9.082107179683238, likely_hood_ratio = 0.05771987589762975, norm(theta) = 10.48503798, norm(grad) = 0.00068803, grad/theta ratio = 0.000066
iteration No.17000, likely_hood = -9.071915347586296, likely_hood_ratio = 0.06160745007842221, norm(theta) = 11.17866309, norm(grad) = 0.00072313, grad/theta ratio = 0.000065
iteration No.1000, likely_hood = -10.992732551292246, likely_hood_ratio = 0.010369019863016268, norm(theta) = 2.28093784, norm(grad) = 0.00134741, grad/theta ratio = 0.000591
iteration No.2000, likely_hood = -9.269152980796928, likely_hood_ratio = 0.017999548340901953, norm(theta) = 3.33773519, norm(grad) = 0.00098929, grad/theta ratio = 0.000296
iteration No.3000, likely_hood = -8.30860546288925, likely_hood_ratio = 0.025225579412512203, norm(theta) = 4.19258893, norm(grad) = 0.00084476, grad/theta ratio = 0.000201
iteration No.4000, likely_hood = -7.66680684484768, likely_hood_ratio = 0.03233653845581478, norm(theta) = 4.95909810, norm(grad) = 0.00076732, grad/theta ratio = 0.000155
iteration No.5000, likely_hood = -7.199700328332572, likely_hood_ratio = 0.039430387951613695, norm(theta) = 5.67844369, norm(grad) = 0.00072475, grad/theta ratio = 0.000128
iteration No.6000, likely_hood = -6.840373731813131, likely_hood_ratio = 0.046580618798607525, norm(theta) = 6.37326474, norm(grad) = 0.00070336, grad/theta ratio = 0.000110
iteration No.7000, likely_hood = -6.553487153237542, likely_hood_ratio = 0.05384658503904725, norm(theta) = 7.05834204, norm(grad) = 0.00069604, grad/theta ratio = 0.000099
iteration No.8000, likely_hood = -6.318799363002447, likely_hood_ratio = 0.06127391384206578, norm(theta) = 7.74424050, norm(grad) = 0.00069878, grad/theta ratio = 0.000090
iteration No.9000, likely_hood = -6.123955551867572, likely_hood_ratio = 0.06889609866894578, norm(theta) = 8.43903443, norm(grad) = 0.00070927, grad/theta ratio = 0.000084
iteration No.10000, likely_hood = -5.961011190498366, likely_hood_ratio = 0.07673648951724309, norm(theta) = 9.14926130, norm(grad) = 0.00072609, grad/theta ratio = 0.000079
iteration No.11000, likely_hood = -5.824631231141568, likely_hood_ratio = 0.08481009048169187, norm(theta) = 9.88049345, norm(grad) = 0.00074839, grad/theta ratio = 0.000076
iteration No.12000, likely_hood = -5.711097599455728, likely_hood_ratio = 0.09312507478923522, norm(theta) = 10.63769956, norm(grad) = 0.00077565, grad/theta ratio = 0.000073
iteration No.13000, likely_hood = -5.617731639900846, likely_hood_ratio = 0.10168409054141447, norm(theta) = 11.42548319, norm(grad) = 0.00080757, grad/theta ratio = 0.000071
iteration No.14000, likely_hood = -5.542541794431186, likely_hood_ratio = 0.11048544486820151, norm(theta) = 12.24824559, norm(grad) = 0.00084397, grad/theta ratio = 0.000069
iteration No.15000, likely_hood = -5.483999960996144, likely_hood_ratio = 0.1195242251145428, norm(theta) = 13.11030003, norm(grad) = 0.00088481, grad/theta ratio = 0.000067
iteration No.16000, likely_hood = -5.440895043840571, likely_hood_ratio = 0.1287933789647612, norm(theta) = 14.01595402, norm(grad) = 0.00093010, grad/theta ratio = 0.000066
iteration No.17000, likely_hood = -5.4122351243294595, likely_hood_ratio = 0.13828474178478906, norm(theta) = 14.96956978, norm(grad) = 0.00097990, grad/theta ratio = 0.000065
iteration No.18000, likely_hood = -5.397181838853043, likely_hood_ratio = 0.14798997293693003, norm(theta) = 15.97560963, norm(grad) = 0.00103433, grad/theta ratio = 0.000065
iteration No.1000, likely_hood = -8.432880035870824, likely_hood_ratio = 0.013347038276632164, norm(theta) = 2.25179470, norm(grad) = 0.00082115, grad/theta ratio = 0.000365
iteration No.2000, likely_hood = -7.892342039558026, likely_hood_ratio = 0.017522852890759475, norm(theta) = 2.76633471, norm(grad) = 0.00056506, grad/theta ratio = 0.000204
iteration No.3000, likely_hood = -7.573682449713925, likely_hood_ratio = 0.020727969903752776, norm(theta) = 3.14009471, norm(grad) = 0.00050197, grad/theta ratio = 0.000160
iteration No.4000, likely_hood = -7.327183638827357, likely_hood_ratio = 0.023792699620939033, norm(theta) = 3.48701339, norm(grad) = 0.00047437, grad/theta ratio = 0.000136
iteration No.5000, likely_hood = -7.121221788711161, likely_hood_ratio = 0.02690198607503735, norm(theta) = 3.83184735, norm(grad) = 0.00046205, grad/theta ratio = 0.000121
iteration No.6000, likely_hood = -6.94111721330637, likely_hood_ratio = 0.030131199236910305, norm(theta) = 4.18324006, norm(grad) = 0.00045911, grad/theta ratio = 0.000110
iteration No.7000, likely_hood = -6.778183863056139, likely_hood_ratio = 0.03352989789461534, norm(theta) = 4.54580558, norm(grad) = 0.00046284, grad/theta ratio = 0.000102
iteration No.8000, likely_hood = -6.626785489906916, likely_hood_ratio = 0.037141252338660224, norm(theta) = 4.92292763, norm(grad) = 0.00047171, grad/theta ratio = 0.000096
iteration No.9000, likely_hood = -6.483084489984154, likely_hood_ratio = 0.04100778321548241, norm(theta) = 5.31754274, norm(grad) = 0.00048478, grad/theta ratio = 0.000091
iteration No.10000, likely_hood = -6.344384803066035, likely_hood_ratio = 0.045173559822582664, norm(theta) = 5.73239478, norm(grad) = 0.00050144, grad/theta ratio = 0.000087
iteration No.11000, likely_hood = -6.20875063331563, likely_hood_ratio = 0.049685376082377, norm(theta) = 6.17013224, norm(grad) = 0.00052130, grad/theta ratio = 0.000084
iteration No.12000, likely_hood = -6.074773335732355, likely_hood_ratio = 0.05459361571232845, norm(theta) = 6.63335363, norm(grad) = 0.00054409, grad/theta ratio = 0.000082
iteration No.13000, likely_hood = -5.9414245004369715, likely_hood_ratio = 0.05995302572719704, norm(theta) = 7.12463367, norm(grad) = 0.00056968, grad/theta ratio = 0.000080
iteration No.14000, likely_hood = -5.807961697005074, likely_hood_ratio = 0.06582346834582627, norm(theta) = 7.64654172, norm(grad) = 0.00059795, grad/theta ratio = 0.000078
iteration No.15000, likely_hood = -5.673867469612899, likely_hood_ratio = 0.07227067021040741, norm(theta) = 8.20165666, norm(grad) = 0.00062888, grad/theta ratio = 0.000077
iteration No.16000, likely_hood = -5.538809790848312, likely_hood_ratio = 0.0793669653854104, norm(theta) = 8.79258018, norm(grad) = 0.00066248, grad/theta ratio = 0.000075
iteration No.17000, likely_hood = -5.402616496243121, likely_hood_ratio = 0.08719201374108462, norm(theta) = 9.42194970, norm(grad) = 0.00069876, grad/theta ratio = 0.000074
iteration No.18000, likely_hood = -5.2652587462368405, likely_hood_ratio = 0.09583346216952716, norm(theta) = 10.09245145, norm(grad) = 0.00073778, grad/theta ratio = 0.000073
iteration No.19000, likely_hood = -5.126840083019621, likely_hood_ratio = 0.10538750029912676, norm(theta) = 10.80683445, norm(grad) = 0.00077963, grad/theta ratio = 0.000072
iteration No.20000, likely_hood = -4.987588606292692, likely_hood_ratio = 0.11595924412380948, norm(theta) = 11.56792548, norm(grad) = 0.00082440, grad/theta ratio = 0.000071
iteration No.21000, likely_hood = -4.8478504455447995, likely_hood_ratio = 0.12766285982782796, norm(theta) = 12.37864555, norm(grad) = 0.00087222, grad/theta ratio = 0.000070
iteration No.22000, likely_hood = -4.708083214745689, likely_hood_ratio = 0.14062131569496883, norm(theta) = 13.24202785, norm(grad) = 0.00092321, grad/theta ratio = 0.000070
iteration No.23000, likely_hood = -4.5688485853343925, likely_hood_ratio = 0.15496562205748854, norm(theta) = 14.16123745, norm(grad) = 0.00097756, grad/theta ratio = 0.000069
iteration No.24000, likely_hood = -4.4308035359058096, likely_hood_ratio = 0.1708333880285309, norm(theta) = 15.13959264, norm(grad) = 0.00103544, grad/theta ratio = 0.000068
iteration No.25000, likely_hood = -4.294690219400056, likely_hood_ratio = 0.18836649102461225, norm(theta) = 16.18058803, norm(grad) = 0.00109705, grad/theta ratio = 0.000068
iteration No.26000, likely_hood = -4.161324693003536, likely_hood_ratio = 0.20770762539037846, norm(theta) = 17.28791916, norm(grad) = 0.00116264, grad/theta ratio = 0.000067
iteration No.27000, likely_hood = -4.031584943445142, likely_hood_ratio = 0.22899547859245756, norm(theta) = 18.46550852, norm(grad) = 0.00123244, grad/theta ratio = 0.000067
iteration No.28000, likely_hood = -3.906398693651543, likely_hood_ratio = 0.25235829152486167, norm(theta) = 19.71753267, norm(grad) = 0.00130675, grad/theta ratio = 0.000066
iteration No.29000, likely_hood = -3.786731412230508, likely_hood_ratio = 0.2779056128020362, norm(theta) = 21.04845016, norm(grad) = 0.00138586, grad/theta ratio = 0.000066
iteration No.30000, likely_hood = -3.673574811347506, likely_hood_ratio = 0.305718178337158, norm(theta) = 22.46303003, norm(grad) = 0.00147009, grad/theta ratio = 0.000065
iteration No.31000, likely_hood = -3.5679359708782536, likely_hood_ratio = 0.3358360589672894, norm(theta) = 23.96638058, norm(grad) = 0.00155981, grad/theta ratio = 0.000065
iteration No.32000, likely_hood = -3.4708271191096425, likely_hood_ratio = 0.36824553379558933, norm(theta) = 25.56397830, norm(grad) = 0.00165538, grad/theta ratio = 0.000065
iteration No.33000, likely_hood = -3.3832560606034408, likely_hood_ratio = 0.40286555908759114, norm(theta) = 27.26169668, norm(grad) = 0.00175721, grad/theta ratio = 0.000064
iteration No.34000, likely_hood = -3.3062172681725475, likely_hood_ratio = 0.4395351733868958, norm(theta) = 29.06583511, norm(grad) = 0.00186574, grad/theta ratio = 0.000064
iteration No.35000, likely_hood = -3.240683721441794, likely_hood_ratio = 0.47800362760949167, norm(theta) = 30.98314771, norm(grad) = 0.00198141, grad/theta ratio = 0.000064
iteration No.36000, likely_hood = -3.187599640260928, likely_hood_ratio = 0.5179253291962882, norm(theta) = 33.02087227, norm(grad) = 0.00210471, grad/theta ratio = 0.000064
iteration No.37000, likely_hood = -3.1478742918231197, likely_hood_ratio = 0.5588616903463496, norm(theta) = 35.18675957, norm(grad) = 0.00223617, grad/theta ratio = 0.000064
iteration No.38000, likely_hood = -3.1223770268127993, likely_hood_ratio = 0.6002915340467494, norm(theta) = 37.48910331, norm(grad) = 0.00237631, grad/theta ratio = 0.000063
iteration No.39000, likely_hood = -3.111933626547763, likely_hood_ratio = 0.6416307733376917, norm(theta) = 39.93677095, norm(grad) = 0.00252573, grad/theta ratio = 0.000063
平均 MSE: 0.7292
MSE 标准差: 0.0295

In [70]:
model_accuracies

[0.75, 0.75, 0.6875]

In [71]:
df_test = pd.read_csv(DATA_PATH + '/test.csv')
df_test['Embarked'] = df_train['Embarked'].fillna('S')
df_test['Age'] = df_test['Age'].fillna(df_train['Age'].median())
df_test = df_test.drop(['Name', 'Ticket'], axis = 1)
df_test['cabin_info_null'] = df_test['Cabin'].isna()
df_test['cabin_info_null'] = df_test['cabin_info_null'].astype('int32')
df_test = df_test.drop(['Cabin'], axis = 1)
df_test_d = pd.get_dummies(df_test, columns=['Sex', 'Embarked'], dtype='int32')
df_test_d = df_test_d.drop('Sex_female', axis=1)
X_test = np.array(df_test_d.drop(['PassengerId'], axis = 1))
Xtsts = slr.transform(X_test)

## if necessary, train a logR model on all data 
# Yres = lrsr.transfrom(Xtsts)
# df_test['Survived'] = Yres
# df_test

In [72]:
if IS_KAGGLE == False:
    os.makedirs('output', exist_ok=True)

In [ ]:
# df_res = df_test[['PassengerId', 'Survived']]
# df_res.to_csv(OUTPUT_PATH + '/v4_l2_reg.csv', index=False, encoding='utf-8')

In [ ]:
kf = KFold(n_splits=9, shuffle=True, random_state=42)
model_accuracies = []

for train_idx, test_idx in kf.split(Xs):
    Xss_train, Xss_test = Xs[train_idx], Xs[test_idx]
    yss_train, yss_test = Ys[train_idx], Ys[test_idx]
    
    model = NN_solver(Xss_train, yss_train, alpha=0.02, n_seed = 200, output_gap = 100)
    model.fit_shallow_parallel(shallow_iter_limit = 2000, target_loss = 320)

    n_min_seed = model.loss_arr.argmin()
    model.fit_deep(10000, lr_raito = 0.1, use_input = True, W1_i=model.W1[:, :, n_min_seed], b1_i=model.b1[:, :, n_min_seed], W2_i=model.W2[:, :, n_min_seed], b2_i=model.b2[:, :, n_min_seed], W3_i=model.W3[:, :, n_min_seed], b3_i=model.b3[:, :, n_min_seed])
    
    accuracy = model.check_performance(Xss_test, yss_test)
    model_accuracies.append(accuracy)

print(f"平均 accuracy: {np.mean(model_accuracies):.4f}")
print(f"accuracy 标准差: {np.std(model_accuracies):.4f}")

epoch No.1, min loss = 24.317504, from seed No.88
epoch No.101, min loss = 16.319368, from seed No.143
epoch No.201, min loss = 12.850969, from seed No.167
epoch No.301, min loss = 11.355266, from seed No.167
epoch No.401, min loss = 10.545654, from seed No.167
epoch No.501, min loss = 9.976629, from seed No.167
epoch No.601, min loss = 9.605617, from seed No.167
epoch No.701, min loss = 9.325693, from seed No.167
epoch No.801, min loss = 9.120476, from seed No.167
epoch No.901, min loss = 8.960258, from seed No.167
epoch No.1001, min loss = 8.811155, from seed No.71
epoch No.1101, min loss = 8.623361, from seed No.71
epoch No.1201, min loss = 8.472784, from seed No.71
epoch No.1301, min loss = 8.367549, from seed No.71
epoch No.1401, min loss = 8.277628, from seed No.71
epoch No.1501, min loss = 8.221985, from seed No.71
epoch No.1601, min loss = 8.182179, from seed No.71
epoch No.1701, min loss = 8.158791, from seed No.71
epoch No.1801, min loss = 8.148655, from seed No.71
epoch No.1901, min loss = 8.139287, from seed No.71
epoch No.2001, min loss = 8.136864, from seed No.71
epoch No.2101, min loss = 8.134833, from seed No.71
epoch No.2201, min loss = 8.129135, from seed No.71
epoch No.2301, min loss = 8.116795, from seed No.71
epoch No.2401, min loss = 8.097370, from seed No.71
epoch No.2501, min loss = 8.062127, from seed No.71
epoch No.2601, min loss = 8.030746, from seed No.71
epoch No.2701, min loss = 7.925023, from seed No.168
epoch No.2801, min loss = 7.704078, from seed No.168
epoch No.2901, min loss = 7.444235, from seed No.168
epoch No.3001, min loss = 7.132493, from seed No.168
epoch No.3101, min loss = 6.763190, from seed No.168
epoch No.3201, min loss = 6.427830, from seed No.168
epoch No.3301, min loss = 5.946912, from seed No.168
epoch No.3401, min loss = 5.420308, from seed No.168
epoch No.3501, min loss = 4.978012, from seed No.168
epoch No.3601, min loss = 4.517070, from seed No.168
epoch No.3701, min loss = 4.124301, from seed No.168
epoch No.3801, min loss = 3.780921, from seed No.168
epoch No.3901, min loss = 3.587390, from seed No.168
epoch No.4001, min loss = 3.417796, from seed No.168
epoch No.1, loss = 3.416143
epoch No.101, loss = 3.321780
epoch No.201, loss = 3.315211
converged
epoch No.1, min loss = 25.088268, from seed No.190
epoch No.101, min loss = 14.162022, from seed No.111
epoch No.201, min loss = 12.306648, from seed No.111
epoch No.301, min loss = 11.396218, from seed No.111
epoch No.401, min loss = 10.963107, from seed No.111
epoch No.501, min loss = 10.427099, from seed No.111
epoch No.601, min loss = 10.093553, from seed No.111
epoch No.701, min loss = 9.859085, from seed No.111
epoch No.801, min loss = 9.687108, from seed No.111
epoch No.901, min loss = 9.537782, from seed No.111
epoch No.1001, min loss = 9.422599, from seed No.70
epoch No.1101, min loss = 9.278412, from seed No.70
epoch No.1201, min loss = 9.153799, from seed No.70
epoch No.1301, min loss = 9.053880, from seed No.70
epoch No.1401, min loss = 8.982887, from seed No.70
epoch No.1501, min loss = 8.927365, from seed No.70
epoch No.1601, min loss = 8.893365, from seed No.70
epoch No.1701, min loss = 8.869415, from seed No.70
epoch No.1801, min loss = 8.857440, from seed No.70
epoch No.1901, min loss = 8.852435, from seed No.70
epoch No.2001, min loss = 8.850531, from seed No.70
epoch No.2101, min loss = 8.848477, from seed No.70
epoch No.2201, min loss = 8.843861, from seed No.70
epoch No.2301, min loss = 8.831755, from seed No.70
epoch No.2401, min loss = 8.811349, from seed No.70
epoch No.2501, min loss = 8.783664, from seed No.70
epoch No.2601, min loss = 8.731646, from seed No.70
epoch No.2701, min loss = 8.682233, from seed No.70
epoch No.2801, min loss = 8.613316, from seed No.70
epoch No.2901, min loss = 8.529417, from seed No.70
epoch No.3001, min loss = 8.426794, from seed No.70
epoch No.3101, min loss = 8.304662, from seed No.61
epoch No.3201, min loss = 8.099702, from seed No.61
epoch No.3301, min loss = 7.871556, from seed No.61
epoch No.3401, min loss = 7.628097, from seed No.61
epoch No.3501, min loss = 7.168903, from seed No.73
epoch No.3601, min loss = 6.639375, from seed No.73
epoch No.3701, min loss = 6.142709, from seed No.73
epoch No.3801, min loss = 5.664160, from seed No.73
epoch No.3901, min loss = 5.265310, from seed No.73
epoch No.4001, min loss = 4.980852, from seed No.73
epoch No.1, loss = 4.981292
epoch No.101, loss = 4.957763
epoch No.201, loss = 4.954631
epoch No.301, loss = 4.943687
epoch No.401, loss = 4.932327
epoch No.501, loss = 4.917208
epoch No.601, loss = 4.906769
epoch No.701, loss = 4.902728
epoch No.801, loss = 4.888154
converged
epoch No.1, min loss = 19.557484, from seed No.41
epoch No.101, min loss = 12.626486, from seed No.41
epoch No.201, min loss = 8.905524, from seed No.91
epoch No.301, min loss = 6.809632, from seed No.91
epoch No.401, min loss = 5.719090, from seed No.91
epoch No.501, min loss = 5.084746, from seed No.91
epoch No.601, min loss = 4.692636, from seed No.91
epoch No.701, min loss = 4.414160, from seed No.91
epoch No.801, min loss = 4.202541, from seed No.91
epoch No.901, min loss = 4.057666, from seed No.91
epoch No.1001, min loss = 3.908698, from seed No.27
epoch No.1101, min loss = 3.868987, from seed No.91
epoch No.1201, min loss = 3.743975, from seed No.27
epoch No.1301, min loss = 3.677115, from seed No.27
epoch No.1401, min loss = 3.622116, from seed No.27
epoch No.1501, min loss = 3.586338, from seed No.27
epoch No.1601, min loss = 3.567169, from seed No.27
epoch No.1701, min loss = 3.554397, from seed No.27
epoch No.1801, min loss = 3.547295, from seed No.27
epoch No.1901, min loss = 3.544247, from seed No.27
epoch No.2001, min loss = 3.541712, from seed No.27
epoch No.2101, min loss = 3.540234, from seed No.27
epoch No.2201, min loss = 3.536613, from seed No.27
epoch No.2301, min loss = 3.533699, from seed No.27
epoch No.2401, min loss = 3.517675, from seed No.27
epoch No.2501, min loss = 3.514322, from seed No.14
epoch No.2601, min loss = 3.474970, from seed No.14
epoch No.2701, min loss = 3.452820, from seed No.14
epoch No.2801, min loss = 3.392493, from seed No.14
epoch No.2901, min loss = 3.345660, from seed No.14
epoch No.3001, min loss = 3.313186, from seed No.14
epoch No.3101, min loss = 3.234328, from seed No.14
epoch No.3201, min loss = 3.226994, from seed No.14
epoch No.3301, min loss = 3.127035, from seed No.14
epoch No.3401, min loss = 3.054734, from seed No.14
epoch No.3501, min loss = 3.019909, from seed No.14
epoch No.3601, min loss = 2.944858, from seed No.14
epoch No.3701, min loss = 2.904346, from seed No.14
epoch No.3801, min loss = 2.945538, from seed No.140

/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:572: RuntimeWarning: divide by zero encountered in log
  self.loss_arr = - np.sum(self.Y[np.newaxis, :, np.newaxis] * np.log(a3_e) + (1-self.Y[np.newaxis, :, np.newaxis]) * np.log(1-a3_e), axis=1)
/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:572: RuntimeWarning: invalid value encountered in multiply
  self.loss_arr = - np.sum(self.Y[np.newaxis, :, np.newaxis] * np.log(a3_e) + (1-self.Y[np.newaxis, :, np.newaxis]) * np.log(1-a3_e), axis=1)
/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:797: RuntimeWarning: divide by zero encountered in log
  loss = - np.sum(self.Y.T * np.log(a3_e) + (1-self.Y.T) * np.log(1-a3_e))
/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:797: RuntimeWarning: invalid value encountered in multiply
  loss = - np.sum(self.Y.T * np.log(a3_e) + (1-self.Y.T) * np.log(1-a3_e))

epoch No.3901, min loss = nan, from seed No.26
epoch No.4001, min loss = nan, from seed No.26
epoch No.1, loss = nan
epoch No.101, loss = nan
epoch No.201, loss = nan
epoch No.301, loss = nan
epoch No.401, loss = nan
epoch No.501, loss = nan
epoch No.601, loss = nan
epoch No.701, loss = nan
epoch No.801, loss = nan
epoch No.901, loss = nan
epoch No.1001, loss = nan
epoch No.1101, loss = nan
epoch No.1201, loss = nan
epoch No.1301, loss = nan
epoch No.1401, loss = nan
epoch No.1501, loss = nan
epoch No.1601, loss = nan
epoch No.1701, loss = nan
epoch No.1801, loss = nan
epoch No.1901, loss = nan
epoch No.2001, loss = nan
epoch No.2101, loss = nan
epoch No.2201, loss = nan
epoch No.2301, loss = nan
epoch No.2401, loss = nan
epoch No.2501, loss = nan
epoch No.2601, loss = nan
epoch No.2701, loss = nan
epoch No.2801, loss = nan
epoch No.2901, loss = nan
epoch No.3001, loss = nan
epoch No.3101, loss = nan
epoch No.3201, loss = nan
epoch No.3301, loss = nan
epoch No.3401, loss = nan
epoch No.3501, loss = nan
epoch No.3601, loss = nan
epoch No.3701, loss = nan
epoch No.3801, loss = nan
epoch No.3901, loss = nan
epoch No.4001, loss = nan
epoch No.4101, loss = nan
epoch No.4201, loss = nan
epoch No.4301, loss = nan
epoch No.4401, loss = nan
epoch No.4501, loss = nan
epoch No.4601, loss = nan
epoch No.4701, loss = nan
epoch No.4801, loss = nan
epoch No.4901, loss = nan
epoch No.5001, loss = nan
epoch No.5101, loss = nan
epoch No.5201, loss = nan
epoch No.5301, loss = nan
epoch No.5401, loss = nan
epoch No.5501, loss = nan
epoch No.5601, loss = nan
epoch No.5701, loss = nan
epoch No.5801, loss = nan
epoch No.5901, loss = nan
epoch No.6001, loss = nan
epoch No.6101, loss = nan
epoch No.6201, loss = nan
epoch No.6301, loss = nan
epoch No.6401, loss = nan
epoch No.6501, loss = nan
epoch No.6601, loss = nan
epoch No.6701, loss = nan
epoch No.6801, loss = nan
epoch No.6901, loss = nan
epoch No.7001, loss = nan
epoch No.7101, loss = nan
epoch No.7201, loss = nan
epoch No.7301, loss = nan
epoch No.7401, loss = nan
epoch No.7501, loss = nan
epoch No.7601, loss = nan
epoch No.7701, loss = nan
epoch No.7801, loss = nan
epoch No.7901, loss = nan
epoch No.8001, loss = nan
epoch No.8101, loss = nan
epoch No.8201, loss = nan
epoch No.8301, loss = nan
epoch No.8401, loss = nan
epoch No.8501, loss = nan
epoch No.8601, loss = nan
epoch No.8701, loss = nan
epoch No.8801, loss = nan
epoch No.8901, loss = nan
epoch No.9001, loss = nan
epoch No.9101, loss = nan
epoch No.9201, loss = nan
epoch No.9301, loss = nan
epoch No.9401, loss = nan
epoch No.9501, loss = nan
epoch No.9601, loss = nan
epoch No.9701, loss = nan
epoch No.9801, loss = nan
epoch No.9901, loss = nan
epoch No.10001, loss = nan
epoch No.10101, loss = nan
epoch No.10201, loss = nan
epoch No.10301, loss = nan
epoch No.10401, loss = nan
epoch No.10501, loss = nan
epoch No.10601, loss = nan
epoch No.10701, loss = nan
epoch No.10801, loss = nan
epoch No.10901, loss = nan
epoch No.11001, loss = nan
epoch No.11101, loss = nan
epoch No.11201, loss = nan
epoch No.11301, loss = nan
epoch No.11401, loss = nan
epoch No.11501, loss = nan
epoch No.11601, loss = nan
epoch No.11701, loss = nan
epoch No.11801, loss = nan
epoch No.11901, loss = nan
epoch No.12001, loss = nan
epoch No.12101, loss = nan
epoch No.12201, loss = nan
epoch No.12301, loss = nan
epoch No.12401, loss = nan
epoch No.12501, loss = nan
epoch No.12601, loss = nan
epoch No.12701, loss = nan
epoch No.12801, loss = nan
epoch No.12901, loss = nan
epoch No.13001, loss = nan
epoch No.13101, loss = nan
epoch No.13201, loss = nan
epoch No.13301, loss = nan
epoch No.13401, loss = nan
epoch No.13501, loss = nan
epoch No.13601, loss = nan
epoch No.13701, loss = nan
epoch No.13801, loss = nan
epoch No.13901, loss = nan
epoch No.14001, loss = nan
epoch No.14101, loss = nan
epoch No.14201, loss = nan
epoch No.14301, loss = nan
epoch No.14401, loss = nan
epoch No.14501, loss = nan
epoch No.14601, loss = nan
epoch No.14701, loss = nan
epoch No.14801, loss = nan
epoch No.14901, loss = nan
epoch No.15001, loss = nan
epoch No.15101, loss = nan
epoch No.15201, loss = nan
epoch No.15301, loss = nan
epoch No.15401, loss = nan
epoch No.15501, loss = nan
epoch No.15601, loss = nan
epoch No.15701, loss = nan
epoch No.15801, loss = nan
epoch No.15901, loss = nan
epoch No.16001, loss = nan
epoch No.16101, loss = nan
epoch No.16201, loss = nan
epoch No.16301, loss = nan
epoch No.16401, loss = nan
epoch No.16501, loss = nan
epoch No.16601, loss = nan
epoch No.16701, loss = nan
epoch No.16801, loss = nan
epoch No.16901, loss = nan
epoch No.17001, loss = nan
epoch No.17101, loss = nan
epoch No.17201, loss = nan
epoch No.17301, loss = nan
epoch No.17401, loss = nan
epoch No.17501, loss = nan
epoch No.17601, loss = nan
epoch No.17701, loss = nan
epoch No.17801, loss = nan
epoch No.17901, loss = nan
epoch No.18001, loss = nan
epoch No.18101, loss = nan
epoch No.18201, loss = nan
epoch No.18301, loss = nan
epoch No.18401, loss = nan
epoch No.18501, loss = nan
epoch No.18601, loss = nan
epoch No.18701, loss = nan
epoch No.18801, loss = nan
epoch No.18901, loss = nan
epoch No.19001, loss = nan
epoch No.19101, loss = nan
epoch No.19201, loss = nan
epoch No.19301, loss = nan
epoch No.19401, loss = nan
epoch No.19501, loss = nan
epoch No.19601, loss = nan
epoch No.19701, loss = nan
epoch No.19801, loss = nan
epoch No.19901, loss = nan
epoch No.20001, loss = nan
epoch No.1, min loss = 26.143957, from seed No.43
epoch No.101, min loss = 15.383128, from seed No.76
epoch No.201, min loss = 13.057661, from seed No.76
epoch No.301, min loss = 11.767852, from seed No.24
epoch No.401, min loss = 10.607063, from seed No.24
epoch No.501, min loss = 10.003653, from seed No.24
epoch No.601, min loss = 9.551852, from seed No.182
epoch No.701, min loss = 8.876170, from seed No.182
epoch No.801, min loss = 8.344961, from seed No.182
epoch No.901, min loss = 7.894681, from seed No.182
epoch No.1001, min loss = 7.518988, from seed No.182
epoch No.1101, min loss = 7.228684, from seed No.182
epoch No.1201, min loss = 6.981689, from seed No.182
epoch No.1301, min loss = 6.787089, from seed No.182
epoch No.1401, min loss = 6.645192, from seed No.182
epoch No.1501, min loss = 6.539563, from seed No.182
epoch No.1601, min loss = 6.476513, from seed No.182
epoch No.1701, min loss = 6.426939, from seed No.182
epoch No.1801, min loss = 6.404605, from seed No.182
epoch No.1901, min loss = 6.394969, from seed No.182
epoch No.2001, min loss = 6.389878, from seed No.182
epoch No.2101, min loss = 6.384335, from seed No.182
epoch No.2201, min loss = 6.372920, from seed No.182
epoch No.2301, min loss = 6.349652, from seed No.182
epoch No.2401, min loss = 6.308189, from seed No.182
epoch No.2501, min loss = 6.244260, from seed No.182
epoch No.2601, min loss = 6.186378, from seed No.182
epoch No.2701, min loss = 6.048493, from seed No.182
epoch No.2801, min loss = 5.906995, from seed No.182
epoch No.2901, min loss = 5.739970, from seed No.182
epoch No.3001, min loss = 5.547864, from seed No.182
epoch No.3101, min loss = 5.369861, from seed No.182
epoch No.3201, min loss = 5.167839, from seed No.182
epoch No.3301, min loss = 5.060765, from seed No.182
epoch No.3401, min loss = 4.890656, from seed No.182
epoch No.3501, min loss = 4.648094, from seed No.182
epoch No.3601, min loss = 4.492957, from seed No.182
epoch No.3701, min loss = 4.328137, from seed No.182
epoch No.3801, min loss = 4.183000, from seed No.182
epoch No.3901, min loss = 4.096522, from seed No.182
epoch No.4001, min loss = 3.941949, from seed No.182
epoch No.1, loss = 3.942141
epoch No.101, loss = 3.932015
epoch No.201, loss = 3.933366
epoch No.301, loss = 3.933059
epoch No.401, loss = 3.935623
epoch No.501, loss = 3.922809
epoch No.601, loss = 3.923258
converged
epoch No.1, min loss = 25.209799, from seed No.163
epoch No.101, min loss = 14.249067, from seed No.157
epoch No.201, min loss = 12.624637, from seed No.157
epoch No.301, min loss = 11.610192, from seed No.15
epoch No.401, min loss = 10.746536, from seed No.15
epoch No.501, min loss = 10.133420, from seed No.15
epoch No.601, min loss = 9.691174, from seed No.15
epoch No.701, min loss = 9.338578, from seed No.15
epoch No.801, min loss = 8.894792, from seed No.149
epoch No.901, min loss = 8.472168, from seed No.149
epoch No.1001, min loss = 8.136755, from seed No.149
epoch No.1101, min loss = 7.843413, from seed No.149
epoch No.1201, min loss = 7.639530, from seed No.149
epoch No.1301, min loss = 7.463816, from seed No.149
epoch No.1401, min loss = 7.319627, from seed No.149
epoch No.1501, min loss = 7.239395, from seed No.149
epoch No.1601, min loss = 7.166465, from seed No.149
epoch No.1701, min loss = 7.139191, from seed No.149
epoch No.1801, min loss = 7.110246, from seed No.149
epoch No.1901, min loss = 7.097263, from seed No.149
epoch No.2001, min loss = 7.094909, from seed No.149
epoch No.2101, min loss = 7.091481, from seed No.149
epoch No.2201, min loss = 7.083822, from seed No.149
epoch No.2301, min loss = 7.061880, from seed No.149
epoch No.2401, min loss = 7.027819, from seed No.149
epoch No.2501, min loss = 6.974886, from seed No.149
epoch No.2601, min loss = 6.886603, from seed No.149
epoch No.2701, min loss = 6.837634, from seed No.149
epoch No.2801, min loss = 6.684226, from seed No.149
epoch No.2901, min loss = 6.555759, from seed No.149
epoch No.3001, min loss = 6.289705, from seed No.149
epoch No.3101, min loss = 6.091597, from seed No.149
epoch No.3201, min loss = 6.285485, from seed No.149
epoch No.3301, min loss = 5.644508, from seed No.149
epoch No.3401, min loss = 5.512724, from seed No.149
epoch No.3501, min loss = 5.216189, from seed No.44
epoch No.3601, min loss = 4.852266, from seed No.44
epoch No.3701, min loss = 4.817912, from seed No.44
epoch No.3801, min loss = 4.485458, from seed No.44
epoch No.3901, min loss = 4.356476, from seed No.44
epoch No.4001, min loss = 4.475344, from seed No.44
epoch No.1, loss = 4.476922
epoch No.101, loss = 4.302026
epoch No.201, loss = 4.251434
epoch No.301, loss = 4.191554
epoch No.401, loss = 4.187995
epoch No.501, loss = 4.180148
epoch No.601, loss = 4.149108
epoch No.701, loss = 4.144849
epoch No.801, loss = 4.135013
epoch No.901, loss = 4.141226
epoch No.1001, loss = 4.131744
epoch No.1101, loss = 4.126498
epoch No.1201, loss = 4.115492
epoch No.1301, loss = 4.115895
epoch No.1401, loss = 4.118037
converged
epoch No.1, min loss = 27.326026, from seed No.40
epoch No.101, min loss = 16.537719, from seed No.94
epoch No.201, min loss = 12.804704, from seed No.94
epoch No.301, min loss = 11.570487, from seed No.94
epoch No.401, min loss = 10.897936, from seed No.94
epoch No.501, min loss = 10.456525, from seed No.94
epoch No.601, min loss = 10.050531, from seed No.89
epoch No.701, min loss = 9.762582, from seed No.89
epoch No.801, min loss = 9.502186, from seed No.89
epoch No.901, min loss = 9.304577, from seed No.89
epoch No.1001, min loss = 9.149159, from seed No.67
epoch No.1101, min loss = 8.862201, from seed No.67
epoch No.1201, min loss = 8.637210, from seed No.67
epoch No.1301, min loss = 8.469403, from seed No.67
epoch No.1401, min loss = 8.356272, from seed No.67
epoch No.1501, min loss = 8.275286, from seed No.67
epoch No.1601, min loss = 8.204613, from seed No.67
epoch No.1701, min loss = 8.171519, from seed No.67
epoch No.1801, min loss = 8.150165, from seed No.67
epoch No.1901, min loss = 8.139139, from seed No.67
epoch No.2001, min loss = 8.135939, from seed No.67
epoch No.2101, min loss = 8.132968, from seed No.67
epoch No.2201, min loss = 8.124705, from seed No.67
epoch No.2301, min loss = 8.105958, from seed No.67
epoch No.2401, min loss = 8.077727, from seed No.67
epoch No.2501, min loss = 8.019625, from seed No.67
epoch No.2601, min loss = 7.942024, from seed No.67
epoch No.2701, min loss = 7.846243, from seed No.67
epoch No.2801, min loss = 7.767416, from seed No.67
epoch No.2901, min loss = 7.593376, from seed No.67
epoch No.3001, min loss = 7.424218, from seed No.67
epoch No.3101, min loss = 7.230184, from seed No.67
epoch No.3201, min loss = 7.035028, from seed No.67
epoch No.3301, min loss = 6.817644, from seed No.67
epoch No.3401, min loss = 6.550267, from seed No.67
epoch No.3501, min loss = 6.385666, from seed No.67
epoch No.3601, min loss = 5.956245, from seed No.67
epoch No.3701, min loss = 5.798126, from seed No.67
epoch No.3801, min loss = 5.449305, from seed No.67
epoch No.3901, min loss = 4.930875, from seed No.67
epoch No.4001, min loss = 4.480537, from seed No.67
epoch No.1, loss = 4.480358
converged
epoch No.1, min loss = 27.886516, from seed No.83
epoch No.101, min loss = 12.780788, from seed No.49
epoch No.201, min loss = 10.293086, from seed No.49
epoch No.301, min loss = 8.335262, from seed No.66
epoch No.401, min loss = 7.256820, from seed No.66
epoch No.501, min loss = 6.568106, from seed No.66
epoch No.601, min loss = 6.069649, from seed No.66
epoch No.701, min loss = 5.699125, from seed No.66
epoch No.801, min loss = 5.375797, from seed No.53
epoch No.901, min loss = 4.591731, from seed No.154
epoch No.1001, min loss = 3.831593, from seed No.154
epoch No.1101, min loss = 3.369881, from seed No.154
epoch No.1201, min loss = 3.035608, from seed No.154
epoch No.1301, min loss = 2.810404, from seed No.154
epoch No.1401, min loss = 2.660898, from seed No.154
epoch No.1501, min loss = 2.558116, from seed No.154
epoch No.1601, min loss = 2.491851, from seed No.154
epoch No.1701, min loss = 2.453166, from seed No.154
epoch No.1801, min loss = 2.431184, from seed No.154
epoch No.1901, min loss = 2.421753, from seed No.154
epoch No.2001, min loss = 2.418602, from seed No.154
epoch No.2101, min loss = 2.415059, from seed No.154
epoch No.2201, min loss = 2.406099, from seed No.154
epoch No.2301, min loss = 2.386058, from seed No.154
epoch No.2401, min loss = 2.350711, from seed No.154
epoch No.2501, min loss = 2.297008, from seed No.154
epoch No.2601, min loss = 2.223419, from seed No.154
epoch No.2701, min loss = 2.135109, from seed No.154
epoch No.2801, min loss = 2.022870, from seed No.154
epoch No.2901, min loss = 1.909181, from seed No.154
epoch No.3001, min loss = 1.787093, from seed No.154
epoch No.3101, min loss = 1.662958, from seed No.154
epoch No.3201, min loss = 1.543239, from seed No.154
epoch No.3301, min loss = 1.434320, from seed No.154
epoch No.3401, min loss = 1.336591, from seed No.174
epoch No.3501, min loss = 1.219434, from seed No.174
epoch No.3601, min loss = 1.134139, from seed No.174
epoch No.3701, min loss = 1.041644, from seed No.174
epoch No.3801, min loss = 0.960071, from seed No.174
epoch No.3901, min loss = 0.868161, from seed No.174
epoch No.4001, min loss = 0.803157, from seed No.174
epoch No.1, loss = 0.803143
converged
epoch No.1, min loss = 25.219942, from seed No.58
epoch No.101, min loss = 16.539400, from seed No.146
epoch No.201, min loss = 13.274294, from seed No.157
epoch No.301, min loss = 11.231346, from seed No.157
epoch No.401, min loss = 10.030858, from seed No.157
epoch No.501, min loss = 9.244424, from seed No.157
epoch No.601, min loss = 8.737314, from seed No.157
epoch No.701, min loss = 8.202566, from seed No.157
epoch No.801, min loss = 7.741783, from seed No.192
epoch No.901, min loss = 7.038565, from seed No.192
epoch No.1001, min loss = 6.520074, from seed No.192
epoch No.1101, min loss = 6.089905, from seed No.192
epoch No.1201, min loss = 5.786543, from seed No.192
epoch No.1301, min loss = 5.535189, from seed No.192
epoch No.1401, min loss = 5.384725, from seed No.192
epoch No.1501, min loss = 5.247140, from seed No.192
epoch No.1601, min loss = 5.163655, from seed No.192
epoch No.1701, min loss = 5.117677, from seed No.192
epoch No.1801, min loss = 5.088628, from seed No.192
epoch No.1901, min loss = 5.076950, from seed No.192
epoch No.2001, min loss = 5.072507, from seed No.192
epoch No.2101, min loss = 5.068676, from seed No.192
epoch No.2201, min loss = 5.057567, from seed No.192
epoch No.2301, min loss = 5.032380, from seed No.192
epoch No.2401, min loss = 4.990478, from seed No.192
epoch No.2501, min loss = 4.918387, from seed No.192
epoch No.2601, min loss = 4.823436, from seed No.192
epoch No.2701, min loss = 4.711245, from seed No.192
epoch No.2801, min loss = 4.555900, from seed No.192
epoch No.2901, min loss = 4.539573, from seed No.192
epoch No.3001, min loss = 4.252517, from seed No.192
epoch No.3101, min loss = 4.072988, from seed No.192
epoch No.3201, min loss = 3.856294, from seed No.192
epoch No.3301, min loss = 3.793812, from seed No.192
epoch No.3401, min loss = 3.625218, from seed No.192
epoch No.3501, min loss = 3.450474, from seed No.192
epoch No.3601, min loss = 3.369409, from seed No.192
epoch No.3701, min loss = 3.183985, from seed No.192
epoch No.3801, min loss = 3.058052, from seed No.192
epoch No.3901, min loss = 3.215798, from seed No.192
epoch No.4001, min loss = 2.975331, from seed No.192
epoch No.1, loss = 2.973054
epoch No.101, loss = 2.866218
converged
epoch No.1, min loss = 26.333059, from seed No.144
epoch No.101, min loss = 15.937705, from seed No.33
epoch No.201, min loss = 13.880755, from seed No.83
epoch No.301, min loss = 12.340607, from seed No.58
epoch No.401, min loss = 11.263646, from seed No.181
epoch No.501, min loss = 10.395750, from seed No.45
epoch No.601, min loss = 9.755995, from seed No.30
epoch No.701, min loss = 9.300603, from seed No.30
epoch No.801, min loss = 8.984320, from seed No.30
epoch No.901, min loss = 8.733991, from seed No.30
epoch No.1001, min loss = 8.554194, from seed No.30
epoch No.1101, min loss = 8.377309, from seed No.30
epoch No.1201, min loss = 8.233140, from seed No.30
epoch No.1301, min loss = 8.131945, from seed No.30
epoch No.1401, min loss = 8.035556, from seed No.42
epoch No.1501, min loss = 7.958960, from seed No.42
epoch No.1601, min loss = 7.903059, from seed No.42
epoch No.1701, min loss = 7.874677, from seed No.42
epoch No.1801, min loss = 7.852776, from seed No.42
epoch No.1901, min loss = 7.845237, from seed No.42
epoch No.2001, min loss = 7.842434, from seed No.42
epoch No.2101, min loss = 7.839587, from seed No.42
epoch No.2201, min loss = 7.832172, from seed No.42
epoch No.2301, min loss = 7.814525, from seed No.42
epoch No.2401, min loss = 7.787285, from seed No.42
epoch No.2501, min loss = 7.736653, from seed No.42
epoch No.2601, min loss = 7.667872, from seed No.42
epoch No.2701, min loss = 7.543492, from seed No.103
epoch No.2801, min loss = 7.367929, from seed No.103
epoch No.2901, min loss = 7.135546, from seed No.103
epoch No.3001, min loss = 6.918113, from seed No.103
epoch No.3101, min loss = 6.590855, from seed No.103
epoch No.3201, min loss = 6.269380, from seed No.103
epoch No.3301, min loss = 5.932046, from seed No.103
epoch No.3401, min loss = 5.707814, from seed No.103
epoch No.3501, min loss = 5.395103, from seed No.103
epoch No.3601, min loss = 5.029030, from seed No.103
epoch No.3701, min loss = 4.760899, from seed No.103
epoch No.3801, min loss = 4.425051, from seed No.103
epoch No.3901, min loss = 4.097050, from seed No.103
epoch No.4001, min loss = 3.909527, from seed No.103
epoch No.1, loss = 3.909484
epoch No.101, loss = 4.083595
epoch No.201, loss = 4.031367
converged
平均 MSE: 0.7333
MSE 标准差: 0.1728

In [74]:
nslr = NN_solver(Xs, Ys, alpha=0.02, n_seed = 200, output_gap = 100)
nslr.fit_shallow_parallel(shallow_iter_limit = 2000, target_loss = 320)
n_min_seed = nslr.loss_arr.argmin()
nslr.fit_deep(10000, lr_raito = 0.1, use_input = True, W1_i=model.W1[:, :, n_min_seed], b1_i=model.b1[:, :, n_min_seed], W2_i=model.W2[:, :, n_min_seed], b2_i=model.b2[:, :, n_min_seed], W3_i=model.W3[:, :, n_min_seed], b3_i=model.b3[:, :, n_min_seed])

epoch No.1, min loss = 27.284826, from seed No.173
epoch No.101, min loss = 16.934086, from seed No.125
epoch No.201, min loss = 13.864741, from seed No.8
epoch No.301, min loss = 12.191434, from seed No.8
epoch No.401, min loss = 10.667739, from seed No.40
epoch No.501, min loss = 9.781636, from seed No.40
epoch No.601, min loss = 9.198866, from seed No.10
epoch No.701, min loss = 8.528440, from seed No.10
epoch No.801, min loss = 7.868302, from seed No.10
epoch No.901, min loss = 7.352263, from seed No.10
epoch No.1001, min loss = 6.968447, from seed No.10
epoch No.1101, min loss = 6.661791, from seed No.10
epoch No.1201, min loss = 6.408439, from seed No.10
epoch No.1301, min loss = 6.213098, from seed No.10
epoch No.1401, min loss = 6.067694, from seed No.10
epoch No.1501, min loss = 5.958401, from seed No.10
epoch No.1601, min loss = 5.885227, from seed No.10
epoch No.1701, min loss = 5.839555, from seed No.10
epoch No.1801, min loss = 5.813819, from seed No.10
epoch No.1901, min loss = 5.802911, from seed No.10
epoch No.2001, min loss = 5.798776, from seed No.10
epoch No.2101, min loss = 5.794679, from seed No.10
epoch No.2201, min loss = 5.783805, from seed No.10
epoch No.2301, min loss = 5.759093, from seed No.10
epoch No.2401, min loss = 5.714916, from seed No.10
epoch No.2501, min loss = 5.647150, from seed No.10
epoch No.2601, min loss = 5.547062, from seed No.10
epoch No.2701, min loss = 5.420267, from seed No.10
epoch No.2801, min loss = 5.259867, from seed No.10
epoch No.2901, min loss = 5.075519, from seed No.10
epoch No.3001, min loss = 4.848863, from seed No.40
epoch No.3101, min loss = 4.574244, from seed No.40
epoch No.3201, min loss = 4.338609, from seed No.40
epoch No.3301, min loss = 4.130746, from seed No.40
epoch No.3401, min loss = 3.946575, from seed No.40
epoch No.3501, min loss = 3.790237, from seed No.40
epoch No.3601, min loss = 3.642657, from seed No.10

/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:572: RuntimeWarning: divide by zero encountered in log
  self.loss_arr = - np.sum(self.Y[np.newaxis, :, np.newaxis] * np.log(a3_e) + (1-self.Y[np.newaxis, :, np.newaxis]) * np.log(1-a3_e), axis=1)
/Users/nanyidong/development/Kaggle/Titanic/./src/model.py:572: RuntimeWarning: invalid value encountered in multiply
  self.loss_arr = - np.sum(self.Y[np.newaxis, :, np.newaxis] * np.log(a3_e) + (1-self.Y[np.newaxis, :, np.newaxis]) * np.log(1-a3_e), axis=1)

epoch No.3701, min loss = nan, from seed No.89
epoch No.3801, min loss = nan, from seed No.89
epoch No.3901, min loss = nan, from seed No.89
epoch No.4001, min loss = nan, from seed No.89
epoch No.1, loss = 13.027176
epoch No.101, loss = 11.954694
epoch No.201, loss = 11.893742
epoch No.301, loss = 11.875829
epoch No.401, loss = 11.877319
epoch No.501, loss = 11.851087
epoch No.601, loss = 11.825099
epoch No.701, loss = 11.815187
epoch No.801, loss = 11.786405
epoch No.901, loss = 11.763045
epoch No.1001, loss = 11.744957
epoch No.1101, loss = 11.718282
converged

True

In [75]:
Y_res_nn = nslr.predict(Xtsts)
df_test['Survived'] = Y_res_nn
df_res = df_test[['PassengerId', 'Survived']]
df_res.to_csv(OUTPUT_PATH + 'v10_nn.csv', index=False, encoding='utf-8')

In [ ]:
    # 就 NN的效果来说已经很好了，接下来要提升titanic 的数据效果是ML hyper parametr tuning 和feature engineering 方面的工作
    
    ## NN variance tuning, 剪枝，regularization, early stopping 这些
## K-fold training, 
## Roc curve, precision / recall 
    ## 把Titanic 剩下的几个feature 挖出点东西来. Name / Cabin / 
    ## Bias / Variance curve