In [1]:
import os
import sys

# 自动检测环境
IS_KAGGLE = 'KAGGLE_KERNEL_RUN_TYPE' in os.environ

if IS_KAGGLE:
    print("Running on Kaggle")
    DATA_PATH = '/kaggle/input'
    OUTPUT_PATH = '/kaggle/working'
    # 可能需要安装包
    !pip install -q your-package
else:
    print("Running locally")
    DATA_PATH = './data'
    OUTPUT_PATH = './output'

Running locally

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
train = pd.read_csv('train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df_train = train.copy()
df_train['Embarked'] = df_train['Embarked'].fillna('S')
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_train = df_train.drop(['Name', 'Ticket'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,30.0000,B42,S
888,889,0,3,female,28.0,1,2,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,30.0000,C148,C
890,891,0,3,male,32.0,0,0,7.7500,NaN,Q

In [5]:
df_train['cabin_info_null'] = df_train['Cabin'].isna()
df_train['cabin_info_null'] = df_train['cabin_info_null'].astype('int32')
df_train = df_train.drop(['Cabin'], axis = 1)
df_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null
0,1,0,3,male,22.0,1,0,7.2500,S,1
1,2,1,1,female,38.0,1,0,71.2833,C,0
2,3,1,3,female,26.0,0,0,7.9250,S,1
3,4,1,1,female,35.0,1,0,53.1000,S,0
4,5,0,3,male,35.0,0,0,8.0500,S,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S,1
887,888,1,1,female,19.0,0,0,30.0000,S,0
888,889,0,3,female,28.0,1,2,23.4500,S,1
889,890,1,1,male,26.0,0,0,30.0000,C,0
890,891,0,3,male,32.0,0,0,7.7500,Q,1

In [6]:
df_train_d = pd.get_dummies(df_train, columns=['Sex', 'Embarked'], dtype='int32')
df_train_d = df_train_d.drop('Sex_female', axis=1)
df_train_d

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,cabin_info_null,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,1,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,1,1,0,0,1
887,888,1,1,19.0,0,0,30.0000,0,0,0,0,1
888,889,0,3,28.0,1,2,23.4500,1,0,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,1,1,0,0
890,891,0,3,32.0,0,0,7.7500,1,1,0,1,0

In [7]:
X_train = np.array(df_train_d.drop(['Survived', 'PassengerId'], axis = 1))
Y_train = np.array(df_train_d['Survived'])

In [8]:
class simple_logr_scaler:
    ### uniform scaler

    def __init__(self, X): ### 
        self.X = X

    def fit(self): ### scaler fit X
        self.n, self.m = self.X.shape[0], self.X.shape[1]
        self.v_max = self.X.max(axis = 0)
        self.v_min = self.X.min(axis = 0)
        self.dist = self.v_max - self.v_min

        X_scaled = -1 + 2 * np.einsum('ij, j-> ij', self.X - self.v_min, 1 / self.dist)
        return X_scaled


    def transform(self, Z): ## 把别的input Z 也按 X scale成 [-1,1]
        Z_scaled = -1 + 2 * np.einsum('ij, j-> ij', Z - self.v_min, 1 / self.dist)
        return Z_scaled

    def inverse_transform(self, Z_scaled): ## find original Z from scaled Z
        Z = self.v_min + np.einsum('ij, j-> ij', (Z_scaled + 1) / 2, self.dist) 
        return Z

In [9]:
slr = simple_logr_scaler(X_train)
Xs = slr.fit()
Xs.shape
# Xs

(891, 10)

In [10]:
Xs_train = Xs[:800, :]
Xs_test = Xs[800:, :]
Ys_train = Y_train[:800]
Ys_test = Y_train[800:]

In [11]:
class log_R_solver:

    def __init__(self, X, Y, alpha = 0.01, epsilon = 1e-6, lambda1 = 0.01, lambda2 = 0.01):
        self.X = X
        self.Y = Y
        self.n, self.m = X.shape[0], X.shape[1]
        self.theta = np.zeros(self.m + 1)
        self.alpha = alpha
        self.lambda1 = lambda1
        self.lambda2 = lambda2
        self.epsilon = epsilon
        self.Xs = np.ones((self.n, self.m + 1))
        self.Xs[:, : self.m] = self.X
        self.likely_hood_prev = 0

    def fit(self):
        i_iter = 0
        while True:
            likely_hood = (np.log(1 / (1 + np.exp(-self.Xs @ self.theta)))).T @ self.Y + (np.log(1 - 1 / (1 + np.exp(-self.Xs @ self.theta)))).T @ (1 - self.Y)
            self.theta = self.theta + self.alpha / self.n * self.Xs.T @ (self.Y - 1 / (1 + np.exp(-self.Xs @ self.theta)))
            likely_diff = np.abs(likely_hood - self.likely_hood_prev)
            if likely_diff < self.epsilon:
                break
            i_iter += 1
            self.likely_hood_prev = likely_hood
            if i_iter % 1000 == 0:
                print(f"iteration No.{i_iter}, likely_hood = {likely_hood}")
        return True

    def s_lambda(self, z):  ## prox function for L1 norm
        res = np.sign(z) * np.maximum(np.abs(z) - self.lambda1 * self.alpha, 0)
        return res

    def safe_sigmoid(self, z): ## safe version of sigmoid func
        THRESHOLD = 20.0
        mask_neg = z < -THRESHOLD
        mask_pos = z > THRESHOLD
        mask_mid = ~(mask_neg | mask_pos)

        res = np.empty_like(z)
        if np.any(mask_pos):
            res[mask_pos] = 1.0 - np.exp(-z[mask_pos])

        if np.any(mask_neg):
            res[mask_neg] = np.exp(z[mask_neg])

        if np.any(mask_mid):
            z = np.exp(-z[mask_mid])
            res[mask_mid] = 1.0 / (1.0 + z)

        return res

    def fit_L1(self):
        i_iter = 0
        while True:
            likely_hood = (np.log(1 / (1 + np.exp(-self.Xs @ self.theta)))).T @ self.Y + (np.log(1 - 1 / (1 + np.exp(-self.Xs @ self.theta)))).T @ (1 - self.Y) - self.lambda1 * np.linalg.norm(self.theta, ord=1)
            v = self.theta + self.alpha / self.n * self.Xs.T @ (self.Y - 1 / (1 + np.exp(-self.Xs @ self.theta)))
            self.theta[:-1] = self.s_lambda(v[:-1])
            self.theta[-1] = v[-1]
            likely_diff = np.abs(likely_hood - self.likely_hood_prev)
            if likely_diff < self.epsilon:
                break
            i_iter += 1
            self.likely_hood_prev = likely_hood
            if i_iter % 1000 == 0:
                print(f"iteration No.{i_iter}, likely_hood = {likely_hood}")
        return True

    def fit_L2(self):
        i_iter = 0
        while True:
            likely_hood = (np.log(self.safe_sigmoid(self.Xs @ self.theta))).T @ self.Y + (np.log(1 - self.safe_sigmoid(self.Xs @ self.theta))).T @ (1 - self.Y) - self.lambda2 * np.linalg.norm(self.theta) /2
            likely_hood_base = (np.log(self.safe_sigmoid(self.Xs @ self.theta))).T @ self.Y + (np.log(1 - self.safe_sigmoid(self.Xs @ self.theta))).T @ (1 - self.Y)
            likely_hood_reg = -self.lambda2 * np.linalg.norm(self.theta) /2
            likely_hood_ratio = likely_hood_reg / (likely_hood_reg + likely_hood_base)
            self.theta  = self.theta + self.alpha / self.n * (self.Xs.T @ (self.Y - self.safe_sigmoid(self.Xs @ self.theta)) + self.lambda2 * self.theta)
            grad = self.alpha / self.n * (self.Xs.T @ (self.Y - self.safe_sigmoid(self.Xs @ self.theta)) + self.lambda2 * self.theta)
            likely_diff = np.abs(likely_hood - self.likely_hood_prev)
            if likely_diff < self.epsilon:
                break
            i_iter += 1
            self.likely_hood_prev = likely_hood
            if i_iter % 1000 == 0:
                print(f"iteration No.{i_iter}, likely_hood = {likely_hood}, likely_hood_ratio = {likely_hood_ratio}, norm(theta) = {np.linalg.norm(self.theta):.8f}, norm(grad) = {np.linalg.norm(grad):.8f}, grad/theta ratio = {(np.linalg.norm(grad) / np.linalg.norm(self.theta)):.6f}")
            if i_iter > 50000:
                break
        return True

    def print_weights(self):
        return self.theta
    
    def transfrom(self, Z):
        Zs = np.ones((Z.shape[0], Z.shape[1] + 1))
        Zs[:, :Z.shape[1]] = Z
        res = 1 / (1 + np.exp(-Zs @ self.theta))
        res = np.where(res > 0.5, 1, 0)
        return res

In [12]:
lrsr = log_R_solver(Xs_train, Ys_train, alpha = 0.03, lambda2=0.1)
lrsr.fit_L2()

iteration No.1000, likely_hood = -360.8336490931742, likely_hood_ratio = 0.00021968500917714885, norm(theta) = 1.58563816, norm(grad) = 0.00041959, grad/theta ratio = 0.000265
iteration No.2000, likely_hood = -357.6638757893522, likely_hood_ratio = 0.00024579365758455, norm(theta) = 1.75837629, norm(grad) = 0.00029171, grad/theta ratio = 0.000166
iteration No.3000, likely_hood = -355.9508242466997, likely_hood_ratio = 0.00026622998809618873, norm(theta) = 1.89542395, norm(grad) = 0.00022309, grad/theta ratio = 0.000118
iteration No.4000, likely_hood = -354.92219971075406, likely_hood_ratio = 0.0002837927040317022, norm(theta) = 2.01459677, norm(grad) = 0.00017710, grad/theta ratio = 0.000088
iteration No.5000, likely_hood = -354.26298341642223, likely_hood_ratio = 0.000298674988119332, norm(theta) = 2.11628348, norm(grad) = 0.00014464, grad/theta ratio = 0.000068
iteration No.6000, likely_hood = -353.81910157356685, likely_hood_ratio = 0.0003112681627242122, norm(theta) = 2.20273215, norm(grad) = 0.00012070, grad/theta ratio = 0.000055
iteration No.7000, likely_hood = -353.50897967549787, likely_hood_ratio = 0.0003219789609390312, norm(theta) = 2.27651733, norm(grad) = 0.00010236, grad/theta ratio = 0.000045
iteration No.8000, likely_hood = -353.28630684517606, likely_hood_ratio = 0.00033115309863164847, norm(theta) = 2.33989593, norm(grad) = 0.00008788, grad/theta ratio = 0.000038
iteration No.9000, likely_hood = -353.12313194783167, likely_hood_ratio = 0.00033906707337687237, norm(theta) = 2.39469957, norm(grad) = 0.00007616, grad/theta ratio = 0.000032
iteration No.10000, likely_hood = -353.0016889430051, likely_hood_ratio = 0.00034593855763926046, norm(theta) = 2.44238243, norm(grad) = 0.00006650, grad/theta ratio = 0.000027
iteration No.11000, likely_hood = -352.91020100481217, likely_hood_ratio = 0.00035193920927880707, norm(theta) = 2.48409780, norm(grad) = 0.00005844, grad/theta ratio = 0.000024
iteration No.12000, likely_hood = -352.84059902468493, likely_hood_ratio = 0.00035720561164759084, norm(theta) = 2.52076725, norm(grad) = 0.00005163, grad/theta ratio = 0.000020
iteration No.13000, likely_hood = -352.7872110313915, likely_hood_ratio = 0.0003618477035697744, norm(theta) = 2.55313527, norm(grad) = 0.00004583, grad/theta ratio = 0.000018
iteration No.14000, likely_hood = -352.745970503728, likely_hood_ratio = 0.00036595504556820476, norm(theta) = 2.58181036, norm(grad) = 0.00004087, grad/theta ratio = 0.000016
iteration No.15000, likely_hood = -352.7139166008398, likely_hood_ratio = 0.0003696014324182071, norm(theta) = 2.60729541, norm(grad) = 0.00003659, grad/theta ratio = 0.000014
iteration No.16000, likely_hood = -352.68886678796895, likely_hood_ratio = 0.0003728482975514645, norm(theta) = 2.63001032, norm(grad) = 0.00003288, grad/theta ratio = 0.000013
iteration No.17000, likely_hood = -352.6691958459535, likely_hood_ratio = 0.0003757472488716641, norm(theta) = 2.65030880, norm(grad) = 0.00002966, grad/theta ratio = 0.000011
iteration No.18000, likely_hood = -352.6536830781377, likely_hood_ratio = 0.00037834198144818496, norm(theta) = 2.66849108, norm(grad) = 0.00002684, grad/theta ratio = 0.000010
iteration No.19000, likely_hood = -352.64140464974554, likely_hood_ratio = 0.0003806697407491918, norm(theta) = 2.68481371, norm(grad) = 0.00002437, grad/theta ratio = 0.000009
iteration No.20000, likely_hood = -352.6316565802289, likely_hood_ratio = 0.0003827624584611245, norm(theta) = 2.69949713, norm(grad) = 0.00002219, grad/theta ratio = 0.000008
iteration No.21000, likely_hood = -352.6238989923388, likely_hood_ratio = 0.0003846476467975711, norm(theta) = 2.71273163, norm(grad) = 0.00002026, grad/theta ratio = 0.000007
iteration No.22000, likely_hood = -352.6177153493221, likely_hood_ratio = 0.00038634911215139247, norm(theta) = 2.72468218, norm(grad) = 0.00001855, grad/theta ratio = 0.000007
iteration No.23000, likely_hood = -352.6127824025997, likely_hood_ratio = 0.0003878875316160855, norm(theta) = 2.73549232, norm(grad) = 0.00001702, grad/theta ratio = 0.000006
iteration No.24000, likely_hood = -352.60884787691975, likely_hood_ratio = 0.0003892809238767942, norm(theta) = 2.74528729, norm(grad) = 0.00001565, grad/theta ratio = 0.000006
iteration No.25000, likely_hood = -352.6057137958765, likely_hood_ratio = 0.0003905450375703959, norm(theta) = 2.75417670, norm(grad) = 0.00001442, grad/theta ratio = 0.000005
iteration No.26000, likely_hood = -352.60322395054726, likely_hood_ratio = 0.0003916936742928031, norm(theta) = 2.76225675, norm(grad) = 0.00001331, grad/theta ratio = 0.000005
iteration No.27000, likely_hood = -352.6012544315674, likely_hood_ratio = 0.00039273895921345807, norm(theta) = 2.76961201, norm(grad) = 0.00001231, grad/theta ratio = 0.000004
iteration No.28000, likely_hood = -352.59970643955944, likely_hood_ratio = 0.0003936915692160969, norm(theta) = 2.77631704, norm(grad) = 0.00001139, grad/theta ratio = 0.000004
iteration No.29000, likely_hood = -352.59850079895284, likely_hood_ratio = 0.00039456092626421964, norm(theta) = 2.78243767, norm(grad) = 0.00001056, grad/theta ratio = 0.000004

True

In [13]:
Yr = lrsr.transfrom(Xs_train)

In [14]:
np.sum(Ys_train == Yr) / Ys_train.shape[0]

0.79875

In [15]:
Yrtst = lrsr.transfrom(Xs_test)
np.sum(Ys_test == Yrtst) / Ys_test.shape[0]

0.8131868131868132

In [16]:
df_test = pd.read_csv('test.csv')
df_test['Embarked'] = df_train['Embarked'].fillna('S')
df_test['Age'] = df_test['Age'].fillna(df_train['Age'].median())
df_test = df_test.drop(['Name', 'Ticket'], axis = 1)
df_test['cabin_info_null'] = df_test['Cabin'].isna()
df_test['cabin_info_null'] = df_test['cabin_info_null'].astype('int32')
df_test = df_test.drop(['Cabin'], axis = 1)
df_test_d = pd.get_dummies(df_test, columns=['Sex', 'Embarked'], dtype='int32')
df_test_d = df_test_d.drop('Sex_female', axis=1)
X_test = np.array(df_test_d.drop(['PassengerId'], axis = 1))
Xtsts = slr.transform(X_test)
Yres = lrsr.transfrom(Xtsts)
df_test['Survived'] = Yres
df_test

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,cabin_info_null,Survived
0,892,3,male,34.5,0,0,7.8292,S,1,0
1,893,3,female,47.0,1,0,7.0000,C,1,0
2,894,2,male,62.0,0,0,9.6875,S,1,0
3,895,3,male,27.0,0,0,8.6625,S,1,0
4,896,3,female,22.0,1,1,12.2875,S,1,1
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,male,28.0,0,0,8.0500,S,1,0
414,1306,1,female,39.0,0,0,108.9000,S,0,1
415,1307,3,male,38.5,0,0,7.2500,S,1,0
416,1308,3,male,28.0,0,0,8.0500,S,1,0
417,1309,3,male,28.0,1,1,22.3583,S,1,0